.card{
    transition-duration: .5s;
    top:0;
   
    
}



.white-card{
    box-shadow: 0px 5px 6px lightgray;
    /* background-color: rgb(238, 254, 169); */
    color: white;
}
.white-card:hover{
    box-shadow: 0px 10px 20px lightblue;
    top:-10px;
    
}