.banner-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('../../../images/banner.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    


}

.banner-btn {
    background: transparent;
    color: white;
    border:3px solid;
    border-color: white;
    transition-duration: .5s;
}
.banner-btn:hover{
    color: cyan;
    border-color: cyan;
}

